.button {
  display: flex;
  gap: 6px;
  align-items: center;
  border-radius: var(--border-radius);
  border: none;
  padding: 6px;
  cursor: pointer;
  width: fit-content;
  transition: all 0.3s;
}

.white {
  background-color: var(--secondary-background);
  color: var(--text-black);
}

.black {
  background-color: var(--black-background);
  color: var(--text-white);
}

.black:hover {
  opacity: 0.8;
}

.transparent {
  background-color: transparent;
  color: var(--text-black);
  padding: 12px 24px;
}

.transparent:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
