.section {
  display: grid;
  grid-template-areas:
    "content video video watch-video"
    "content video video app-button"
    "content video video app-button"
    "content video video app-button";
  grid-template-columns: 2.5fr 2fr 2fr 1fr;
  gap: 12px;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  width: 100%;
}

.burger_menu {
  display: none;
}

.block:first-child {
  grid-area: content;
}

.block:nth-child(2) {
  grid-area: video;
}

.block:nth-child(3) {
  grid-area: watch-video;
  justify-content: center;
  align-items: center;
  gap: 18px;
  max-width: 204px;
}

.block:last-child {
  grid-area: app-button;
  justify-content: center;
  align-items: center;
  max-width: 204px;
  gap: 18px;
}

.block:last-child .block_description {
  margin-bottom: 6px;
}

.block_description {
  font-size: 18px;
  text-align: center;
  color: var(--text-black);
}

.block_video {
  width: 100%;
  height: 100%;
  max-height: 664px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 10;
}

.app_buttons {
  display: flex;
  gap: 16px;
}

.app_button {
  padding: 12px 24px;
}

.circle {
  position: absolute;
  bottom: 15%;
  left: 10%;
}

@media (max-width: 1199px) {
  .section {
    grid-template-areas:
      "content content content video video video"
      "content content content video video video"
      "watch-video app-button app-button video video video";
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: stretch;
  }

  .content {
    gap: 18px;
  }

  .block:nth-child(3) > .block {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .block:nth-child(3) > .block .block_description {
    text-align: left;
  }

  .block:last-child {
    flex-direction: row;
    max-width: 100%;
  }

  .block_title {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .block_title .block_description {
    text-align: left;
  }
}

@media (max-width: 1024px) {
  .section {
    height: auto;
    grid-template-areas:
      "content content content content"
      "video video video video"
      "watch-video app-button app-button app-button";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .content {
    margin-bottom: 33px;
  }

  .block:nth-child(2) {
    max-height: 377px;
  }

  .block_video {
    max-height: 320px;
  }

  .block:nth-child(3) > .block {
    justify-content: center;
    align-items: center;
  }

  .block:nth-child(3) > .block .block_description {
    text-align: center;
  }

  .block_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .block:last-child {
    justify-content: space-between;
  }
}

@media (max-width: 620px) {
  .section {
    height: auto;
    /* grid-template-areas:
      "content"
      "video"
      "watch-video"
      "app-button";
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr); */
    display: flex;
    flex-direction: column;
  }

  .app_buttons {
    flex-direction: column;
    margin-bottom: 24px;
  }

  .app_button {
    width: 100%;
    justify-content: center;
  }

  .block:first-child {
    position: relative;
    text-align: center;
  }

  .burger_menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 100;
  }

  .block:nth-child(2) {
    max-height: 100%;
  }

  .block:nth-child(3) {
    max-width: 100%;
  }

  .button_apk {
    order: 2;
    margin: 0 auto;
  }
  .block:last-child {
    flex-direction: column;
  }
}
