.block {
  background-color: var(--secondary-background);
  border-radius: var(--border-radius);
  padding: 48px;
  width: fit-content;
}

@media (max-width: 1199px) {
  .block {
    padding: 36px;
  }
}
