.header {
  display: flex;
  align-items: center;
  max-width: 1920px;
  justify-content: space-between;
  padding: 36px 36px 24px 36px;
  z-index: 50;
}

.header_logo_and_menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navigation {
  background-color: var(--black-background);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.navigation_list {
  display: flex;
  align-items: center;
}

.navigation_item {
  padding: 18px 24px;
  cursor: pointer;
  color: var(--text-white);
  transition: all 0.3s;
  text-wrap: nowrap;
}

.navigation_item:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
}

.navigation_item:first-child {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navigation_item:first-child::before {
  content: "";
  background-image: url("/arrow-left.svg");
  width: 24px;
  height: 24px;
  display: block;
}

.button {
  padding-right: 32px;
}

.button_text {
  font-size: 14px;
  color: var(--text-black);
}

.button_arrow {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

.button_arrow > img {
  transition: all 0.3s;
}

.button_arrow > img:first-child {
  opacity: 20%;
}

.button_arrow > img:nth-child(2) {
  opacity: 50%;
}

.button:hover .button_arrow > img:first-child,
.button:hover .button_arrow > img:nth-child(2) {
  opacity: 100%;
}

@media (max-width: 1199px) {
  .navigation {
    display: none;
  }
}

@media (max-width: 620px) {
  .header {
    display: none;
  }
}
