.section {
  background-color: var(--secondary-background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  margin-top: auto;
  position: relative;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reviews {
  display: flex;
  gap: 24px;
  align-items: end;
  overflow-x: auto;
  width: 100%;
  margin-top: auto;
  justify-content: flex-start;
  padding-bottom: 24px;
  scrollbar-width: thin;
  scrollbar-color: #7d9cfd var(--main-background);
}

.reviews::-webkit-scrollbar {
  height: 4px;
}

.reviews::-webkit-scrollbar-track {
  background: var(--secondary-background);
  border-radius: 32px;
}

.reviews::-webkit-scrollbar-thumb {
  background: #7d9cfd;
  border-radius: 32px;
}

.reviews::-webkit-scrollbar-thumb:hover {
  background: #7d9cfd;
}
